
<div class="row" style="margin: auto;
  width: 50%;

  padding: 10px; ">

    <div class="well">
        {{ form_start(form) }}
        <legend><i  aria-hidden="true"></i> Code du job composite</legend>
        <div class="h3 mb-0 text-gray-800">{{ job_composite.code }}</div>
        <legend><i  aria-hidden="true"></i> Desscriptio du job composite</legend>
        <div class="h3 mb-0 text-gray-800">{{ form_widget(form.description) }}</div>

        <legend><i  aria-hidden="true"></i> Nom du job composite</legend>
        <div class="h3 mb-0 text-gray-800">{{ form_widget(form.name) }}</div>
        <legend><i  aria-hidden="true"></i> Etat du job composite</legend>
        <div class="h3 mb-0 text-gray-800">{{ form_widget(form.state) }}</div>
        <legend><i  aria-hidden="true"></i> Actif</legend>
        <div class="h3 mb-0 text-gray-800">{{ form_widget(form.actif) }}</div>

        <legend><i aria-hidden="true"></i> Expression</legend>
        <div class="h3 mb-0 text-gray-800">{{ form_widget(form.expression) }}</div>
        <legend><i  aria-hidden="true"></i> Email du destinataire</legend>
        <div class="h3 mb-0 text-gray-800">{{ form_widget(form.emailadmin) }}</div>
        <legend><i  aria-hidden="true"></i> Liste des sous jobs </legend>
        <div class="h3 mb-0 text-gray-800">{{ form_widget(form.listSousJobs) }}</div>
        <legend><i  aria-hidden="true"></i> Le créateur </legend>
        <div class="h3 mb-0 text-gray-800">
            {{ app.user.name }}
        </div>

        <br>
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        <a class="btn btn-warning" href="{{ path('app_job_composite_index') }}" >Retour</a>
        {{ form_end(form) }}
    </div></div>
